.roundNumberIcon{
    background:#f39915;
    color:black;
    margin-right:8px;
    padding:5px 10px;
    border-radius: 50%;
}

.form-fields .form-label{
    font-size: inherit;
    margin-bottom:.25em;
    color:rgb(146, 146, 150);
}

.form-fields .form-value{
    font-size: inherit;
    color:lavender;
}

.form-fields{
    padding:.75em;
}